.venv
.vscode
!models/.gitkeep
models/*.bin
.metals
.scala-build
**/target/streams
**/target/config-classes

.DS_Store
.ipynb_checkpoints
mongodb
# spark
hadoop
mongo-hadoop
lib/mongo*
lib/pymongo_spark.py
elasticsearch
elasticsearch-hadoop
lib
ch03/static
ch06/web/static
*.pyc
tmp
.idea
kafka
zeppelin
ch05/scrape_faa.py
.vagrant
*.pem
.reservation_id
.ec2_hostname
.ec2_deep_hostname
.deep_reservation_id
deep/data
.vscode
ghostdriver.log
cassandra
janusgraph
deep
data/origin_dest_distances.jsonl
data/simple_flight_delay_features.jsonl.bz2


**/mongo/db
**/airflow/logs
**/airflow/models/
**/airflow/models\ copy/
# **/airflow/models/*.bin
# **/airflow/models\ copy/*.bin
*.jar
**/target/
*.log
*.tar
**.data